* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: radial-gradient(circle at top, #1b1b1b, #000);
    color: #fff;
}

header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background:
        linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .9)),
        url('logo.jpg') center top / cover no-repeat;
}


header h1 {
    font-family: 'Oswald', sans-serif;
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #ffd400;
    text-shadow: 0 0 25px rgba(255, 212, 0, .7);
}

header p {
    margin-top: 20px;
    font-size: clamp(1rem, 2vw, 1.3rem);
    opacity: .9;
}

.btn {
    display: inline-block;
    margin-top: 35px;
    padding: 15px 40px;
    border-radius: 40px;
    background: linear-gradient(135deg, #ffd400, #ff9900);
    color: #000;
    font-weight: 700;
    text-decoration: none;
    transition: transform .3s, box-shadow .3s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(255, 212, 0, .5);
}

section {
    padding: 80px 10%;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #ffd400;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card {
    background: rgba(255, 255, 255, .05);
    border-radius: 20px;
    padding: 30px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, .1);
    transition: box-shadow 0.01s;
}

.card:hover {
    box-shadow: 0px 1px 20px 0px #ffd400;
}



footer {
    padding: 40px 10%;
    background: #000;
    text-align: center;
    opacity: .7;
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}



.discord-block {
    padding: 80px 10%;
    text-align: center;
}

.discord-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    gap: 20px;
}

.discord-banner {
    width: 300px;
    border-radius: 15px;
    object-fit: cover;
}

.discord-info {
    text-align: left;
    color: #fff;
    max-width: 400px;
}

.discord-info h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: #ffd400;
    margin-bottom: 15px;
}

.discord-info p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.discord-card .btn {
    margin-top: 15px;
}

#discord_account{
    text-decoration: none;
    color: white;
}
#tg_account{
    text-decoration: none;
    color: white;
}